In [ ]:
#Lists
#I've used strings in a list as examples but the same will work with numbers

In [7]:
#elements in a list can be of any datatype
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]
#index    0        1        2      3       4         5       (Indexing from left side)
#index   -6       -5       -4     -3      -2        -1       (Indexing from right side)

In [8]:
#printing complete list
print(friends)

['kevin', 'karen', 'jim', 'alan', 'thomas', 'amy']

In [9]:
#accessing elements in a list
print(friends[0])
print(friends[-6])

kevin
kevin

In [10]:
#print certain elements
print(friends[2:5])     #this will print elements from index 2 to 5(excluding 5)

['jim', 'alan', 'thomas']

In [11]:
#updating values in a list
friends[4]="tyson"       #element numbaer 4 will now be updated to 'tyson'
print(friends)

['kevin', 'karen', 'jim', 'alan', 'tyson', 'amy']

In [3]:
#concatenating 2 lists using extend function(it can append any two lists regardless of the datatype)
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]
nums=[1, 2, 3, 4, 5, 6, 7, 8]
friends.extend(nums)                   #the updated list will be stored in friends list
print(friends)

['kevin', 'karen', 'jim', 'alan', 'thomas', 'amy', 1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
#add individual items to the list using append
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]
friends.append("chloe")
print(friends)

#you can also append entire lists as an element in another list
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]
nums=[1, 2, 3, 4, 5, 6, 7, 8]
friends.append(nums)                   #the updated list will be stored in friends list
print(friends)

['kevin', 'karen', 'jim', 'alan', 'thomas', 'amy', 'chloe']
['kevin', 'karen', 'jim', 'alan', 'thomas', 'amy', [1, 2, 3, 4, 5, 6, 7, 8]]

In [6]:
#insert elements in a list using insert
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]
friends.insert(1, "chloe")                  #adding chloe at index 1
print(friends)

['kevin', 'chloe', 'karen', 'jim', 'alan', 'thomas', 'amy']

In [9]:
#removing elemetns from using the remove function
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]
friends.remove("kevin");                   #the element which is stated will be removed
print(friends)

['karen', 'jim', 'alan', 'thomas', 'amy']

In [11]:
#remove all items in the list
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]
friends.clear()              #this will give us an empty list
print(friends)

[]

In [13]:
#pop function will remove the last element in the list
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]
friends.pop()
print(friends)

#everytime pop is used one element of the list will deleted

['kevin', 'karen', 'jim', 'alan', 'thomas']

In [14]:
#index function will get retrieve the index of the element passed to the function
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]
print(friends.index("kevin"))

0

In [22]:
#sort function will sort the list
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]

#ascending order
friends.sort()
print(friends)

#descending order
friends.sort(reverse=True)
print(friends)

['alan', 'amy', 'jim', 'karen', 'kevin', 'thomas']
['thomas', 'kevin', 'karen', 'jim', 'amy', 'alan']

In [17]:
#count function will count the number of time the given input occurs in the list
friends=["kevin", "karen", "jim", "jim", "alan", "thomas", "amy"]
print(friends.count("jim"))

2

In [18]:
#reverse a given list using the reverse function
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]
friends.reverse()
print(friends)

['amy', 'thomas', 'alan', 'jim', 'karen', 'kevin']

In [19]:
#copy one list to another list using the copy function
friends=["kevin", "karen", "jim", "alan", "thomas", "amy"]
friends2=friends.copy()
print(friends2)

['kevin', 'karen', 'jim', 'alan', 'thomas', 'amy']