In [1]:
#Loops
#a loop executes the code repeatitively until the condition is satisfied

In [ ]:
#while loop
#syntax
<declaration/initialization>
while <condition>:
    //statements
    <increment//decrement>

In [7]:
#example 1 of while loop

#printing number from 1 to 10
print("Numbers from 1 to 10 : ")
i=1;
while i<=10:
    print(i)
    i+=1

Numbers from 1 to 10 :
1
2
3
4
5
6
7
8
9
10

In [6]:
#example 2 of while loop

#printing number from 10 to 1
print("Numbers from 10 to 1 : ")
i=10;
while i>=1:
    print(i)
    i-=1

Numbers from 10 to 1 :
10
9
8
7
6
5
4
3
2
1

In [ ]:
#for loop
#syntax
for <variable> in <sequence>:
    //statement/s

In [5]:
#example 1 of for loop

#print letters in a word
for letter in "Hello guys":
    print(letter)

H
e
l
l
o

g
u
y
s

In [4]:
#example 2 of for loop

#Printing elements from an array
friends=["kevin", "diana", "james"]
for friend in friends:
    print(friend)

kevin
diana
james

In [9]:
#using range function in for loop
print("numbers from 0 to 5 : ")
for num in range(6):
    print(num)
    
#range function will start printing numbers from 0 to the number passed to the range function
#the number passed in the range function will not be printed

#range fucntion can be given both limits
print("number from 6 to 10")
for num in range(6,11):
    print(num)

numbers from 0 to 5 :
0
1
2
3
4
5
number from 6 to 10
6
7
8
9
10

In [10]:
#example of for loop using range function
#Printing elements from an array
friends=["kevin", "diana", "james"]
for friend in range(len(friends)):
    print(friends[friend])

kevin
diana
james

In [4]:
#Nested loops
#we are using nested for loops to access elements in a 2d list
grid=[
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]

for row in grid:
    for col in row:
        print(col, end=" ")
    print("")

1 2 3
4 5 6
7 8 9
0