In [19]:
#These are the basics of python which include playing with strings and number and using the print statement"

In [18]:
#print statement
print("learning python")

learning python

In [3]:
#printitng a triangle using print statement

print("    /|")
print("   / |")
print("  /  |")
print(" /   |")
print("/____|")

    /|
   / |
  /  |
 /   |
/____|

In [8]:
#variables

name="Maitreya"     #string
age=21        #integer
print("hello my name is "+name)   #concatenation operator only works for strings
print("I am ",age," years old")   #comma works for all datatypes

hello my name is Maitreya
I am  21  years old

In [10]:
#to add quotation mark in a string use \ before the quotation mark 

print("\"Hello friends\"")

"Hello friends"

In [12]:
#functions on string-1

name="Maitreya"

#convert to upper and lower case
print(name.lower())
print(name.upper())

name="MAITREYA"

#checking if the string is in upper or lower case
print(name.islower())
print(name.isupper())

maitreya
MAITREYA
False
True

In [16]:
#functions on string-2

name="Maitreya"

#length of the string
print(len(name))

#individual character in a string
print(name[0])        #indexing starts from 0

#find index of a character
print(name.index("M"))

#above function will also tell you where a substring starts
print(name.index("ait"))

8
M
0
1

In [17]:
#functions on string-2

name="Maitreya is awesome"
new_name="Chinmaya"

#replace function accepts 2 parameters
print(name.replace("Maitreya",new_name))
#parameter1->string/char to be replaced by parameter2
#parameter2->string/char that will replace parameter1

Chinmaya is awesome

In [23]:
#Numbers

num=5
print(num)

print(5)
print(22.5566)

#arithmetic operations
print(10/2)
print(25%4)
print(3*(5+4))

5
5
22.5566
5.0
1
27

In [22]:
#int to string conversion
num=5

print(str(num))
#the output will now be in string

5

In [29]:
#functions on numbers

#absolute function
num=-2
print(abs(num))

#power function
num=5
power=2
print(pow(num,power))

#max function(return max value of the given 2 inputs)
print(max(4,6))

#min function(return min value of the given 2 inputs)
print(min(4,6))

#rounding a number
print(round(3.3))
print(round(3.8))

2
25
6
4
3
4

In [2]:
#taking input from user
name=input("Enter your name : ")
print("Hello "+name)

Enter your name : Maitreya
Hello Maitreya

In [5]:
#Adding numbers taken as input form user
num1=float(input("Enter num1 : "))
num2=float(input("Enter num2 : "))     
#if you dont specify the datatype whilst inputing the numbers then they will be considered as strings and the concatenation operation will take place

sum=num1+num2
print(sum)

Enter num1 : 5
Enter num2 : 8.3
13.3